export ANTA_ROOT_FOLDER=../anta
export ANTA_USERNAME=ansible
export ANTA_PASSWORD=ansible
export ANTA_ENABLE=false
export ANTA_CATALOG=${ANTA_ROOT_FOLDER}/nrfu.yml
export ANTA_INVENTORY=${ANTA_ROOT_FOLDER}/inventory.yml
export ANTA_SNAPSHOT=$(date +%Y-%m-%d-%Hh-%Mmin)-snapshots
export ANTA_EXEC_SNAPSHOT_OUTPUT_DIRECTORY=${ANTA_ROOT_FOLDER}/${ANTA_SNAPSHOT}